##### Python library requirements for generating sphinx documentation

breathe==4.31.0
dparser==1.31.8
# We currently need a development version of Exhale. I tested with the following.
# This is needed to support the exhale-multiproject monkeypatch
exhale @ git+https://github.com/svenevs/exhale.git@d6fa84fa32ee079c6b70898a1b0863a38e703591
Sphinx==4.3.2
# The following dependency is the exhale multiproject monkeypatch
# This allows generating reference documentation for multiple libraries
-e git+https://github.com/mithro/sphinx-contrib-mithro@56c20b54d0fb5a7c5d652dd12b55fa1f21c26e7e#egg=sphinx-contrib-exhale-multiproject&subdirectory=sphinx-contrib-exhale-multiproject
sphinx-rtd-theme==0.5.2
sphinxcontrib-tikz==0.4.13
