---
Checks: "-*,
    boost-use-to-string,
    bugprone-*,
    -bugprone-branch-clone,
    -bugprone-crtp-constructor-accessibility,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-swapped-arguments,
    -bugprone-use-after-move,
    -bugprone-assignment-in-if-condition,
    -bugprone-assert-side-effect,
    -bugprone-inc-dec-in-conditions,
    -bugprone-reserved-identifier,
    -bugprone-return-const-ref-from-parameter,
    -bugprone-unhandled-self-assignment,
    -bugprone-multi-level-implicit-pointer-conversion,
    -bugprone-macro-parentheses,
    -bugprone-exception-escape,
    cppcoreguidelines-*,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -google-explicit-constructor,
    modernize-*,
    -modernize-macro-to-enum,
    -modernize-pass-by-value,
    -modernize-use-auto,
    -modernize-use-nodiscard,
    -modernize-use-std-format,
    -modernize-use-std-print,
    -modernize-use-trailing-return-type,
    -modernize-use-ranges,
    -modernize-return-braced-init-list,
    "
CheckOptions:
    modernize-convert-loop.MinConfidence: 'risky'
    modernize-use-default-member-init.UseAssignment: 'true'
    cppcoreguidelines-pro-type-member-init.UseAssignment: 'true'
WarningsAsErrors: 'false'
HeaderFilterRegex: '.'
ExcludeHeaderFilterRegex: '(.*3rd-party.*)'
FormatStyle: 'file'