---
Checks: "-*,
    boost-use-to-string,
    bugprone-*,
    -bugprone-branch-clone,
    -bugprone-crtp-constructor-accessibility,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-swapped-arguments,
    -bugprone-use-after-move,
    -bugprone-assignment-in-if-condition,
    -bugprone-assert-side-effect,
    -bugprone-inc-dec-in-conditions,
    -bugprone-reserved-identifier,
    -bugprone-return-const-ref-from-parameter,
    -bugprone-unhandled-self-assignment,
    -bugprone-multi-level-implicit-pointer-conversion,
    -bugprone-macro-parentheses,
    -bugprone-exception-escape,
    modernize-avoid-bind,
    modernize-concat-nested-namespaces,
    modernize-deprecated-headers,
    modernize-deprecated-ios-base-aliases,
    modernize-loop-convert,
    modernize-make-shared,
    modernize-make-unique,
    modernize-min-max-use-initializer-list,
    modernize-pass-by-value,
    modernize-raw-string-literal,
    modernize-redundant-void-arg,
    modernize-replace-auto-ptr,
    modernize-replace-random-shuffle,
    modernize-shrink-to-fit,
    modernize-type-traits,
    modernize-unary-static-assert,
    modernize-use-bool-literals,
    modernize-use-constraints,
    modernize-use-emplace,
    modernize-use-equals-default,
    modernize-use-equals-delete,
    modernize-use-nullptr,
    modernize-use-override,
    modernize-use-std-numbers,
    modernize-use-transparent-functors,
    modernize-use-uncaught-exceptions,
    modernize-use-using,
    "
CheckOptions:
    modernize-convert-loop.MinConfidence: 'risky'
WarningsAsErrors: 'false'
HeaderFilterRegex: '.'
ExcludeHeaderFilterRegex: '.*3rd-party.*'
FormatStyle: 'file'