---
Checks: "-*,
    boost-use-to-string,
    bugprone-*,
    -bugprone-branch-clone,
    -bugprone-crtp-constructor-accessibility,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-swapped-arguments,
    -bugprone-use-after-move,
    -bugprone-assignment-in-if-condition,
    -bugprone-assert-side-effect,
    -bugprone-inc-dec-in-conditions,
    -bugprone-reserved-identifier,
    -bugprone-return-const-ref-from-parameter,
    -bugprone-unhandled-self-assignment,
    -bugprone-multi-level-implicit-pointer-conversion,
    -bugprone-macro-parentheses,
    -bugprone-exception-escape,
    cppcoreguidelines-avoid-capturing-lambda-coroutines,
    cppcoreguidelines-avoid-const-or-ref-data-members,
    cppcoreguidelines-avoid-goto,
    cppcoreguidelines-avoid-reference-coroutine-parameters,
    cppcoreguidelines-macro-usage,
    cppcoreguidelines-misleading-capture-default-by-value,
    cppcoreguidelines-missing-std-forward,
    cppcoreguidelines-no-malloc,
    cppcoreguidelines-no-suspend-with-lock,
    cppcoreguidelines-pro-type-const-cast,
    cppcoreguidelines-pro-type-cstyle-cast,
    cppcoreguidelines-pro-type-member-init,
    -google-explicit-constructor,
    modernize-*,
    -modernize-macro-to-enum,
    -modernize-pass-by-value,
    -modernize-use-auto,
    -modernize-use-nodiscard,
    -modernize-use-std-format,
    -modernize-use-std-print,
    -modernize-use-trailing-return-type,
    -modernize-use-ranges,
    -modernize-return-braced-init-list,
    "
CheckOptions:
    modernize-convert-loop.MinConfidence: 'risky'
    modernize-use-default-member-init.UseAssignment: 'true'
    cppcoreguidelines-pro-type-member-init.UseAssignment: 'true'
    cppcoreguidelines-pro-type-const-cast.StrictMode: 'true'
WarningsAsErrors: 'false'
HeaderFilterRegex: '.'
ExcludeHeaderFilterRegex: '(.*3rd-party.*)'
FormatStyle: 'file'