##### Python library requirements for generating sphinx documentation

breathe==4.32.0
exhale==0.3.6
Sphinx==4.3.2
sphinx-rtd-theme==0.5.2
sphinxcontrib-tikz==0.4.16
lxml==4.9.2
psutil==5.9.4
PyYAML==5.4.1
