[Desktop Entry]
Name=mCRL2
GenericName=mcrl2-gui
Terminal=false
Comment=A graphical front-end for the mcrl2 toolset
Type=Application
Exec=mcrl2-gui
Icon=mcrl2-gui
Categories=Development;Science; 
X-SuSE-translate=true
